body {
    background: #8d8d07ad;
}


.todo-container{
    width: 40vw;
    background: #000000b9;
    margin: 10rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    color: #ffffff;
}

.header{
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
}